In [ ]:
#import psycopg2 as pg
import pandas as pd
import matplotlib.pyplot as plt
from config import username, password
from sqlalchemy import create_engine
#engine = create_engine(f'postgresql://localhost:http://127.0.0.1:5432/HW_SQL')
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/HW_SQL')
connection = engine.connect()

In [ ]:
employee = pd.read_sql("select * from employees", connection)
employee

In [ ]:
# import the salary csv and merge salaries and employees on teh emp_no
salaries = pd.read_sql("select * from salaries", connection)
salaries

In [ ]:
titles = pd.read_sql("select * from titles", connection)
titles

In [ ]:
#merge emploee and salaries to one df
employee_salaries = employee.merge(salaries, on = "emp_no")
employee_salaries

In [ ]:
#create a histogram to visualize the most common salary ranges for employees.
employee_salaries.hist(column = "salary")
plt.xlabel("salaries")
plt.ylabel("employee count")
plt.show()

In [ ]:
#instead of a for loop to add the titles based on the title id: do this in postgres and directly read it to a dataframe:
emp_title = pd.read_sql("SELECT e.emp_no, e.emp_title_id, tt.title FROM employees e INNER JOIN titles AS tt ON e.emp_title_id = tt.title_id;", connection)
emp_title
#note= this was not one of the SQL queries, I just added this to make this df

In [ ]:
emp_sal_df = employee_salaries[["emp_no", "emp_title_id","salary" ]]
emp_sal_df

In [ ]:
#instead of a for loop to add the titles based on the title id: do this in postgres and directly read it to a dataframe:
emp_title = pd.read_sql("SELECT e.emp_no, e.emp_title_id, tt.title FROM employees e INNER JOIN titles AS tt ON e.emp_title_id = tt.title_id;", connection)
emp_title
#note= this was not one of the SQL queries, I just added this to make this df

In [ ]:
#merge this table with the reduced table emp_sal_df
emp_sal_title = emp_sal_df.merge(emp_title, on = "emp_no")
emp_sal_title

In [ ]:
#create the bar chart
bar_gb = emp_sal_title.groupby(["title_y"])
salary_count = bar_gb.mean()["salary"]
saraly_chart = salary_count.plot(kind ="bar", figsize= (10,6))
plt.title("average Salary breaksown based on title")
plt.ylabel('Salary');
plt.xlabel('Title')
plt.show()